<!-- public/views/widget.html -->

<!-- timeline chart -->
<div class="panel panel-default timeline" ng-repeat="widget in widgets"  gridster-item>
  <!-- widget header -->
  <div class="panel-heading widget-header">
    <h3 class="panel-title text-center">
      {{ widget.title || 'Title'}} 
    <span ng-click="removeWidget(widget)" class="glyphicon glyphicon-remove widget-header-icon"></span>
    <span ng-hide="widget.isActive" ng-click="startRealTimeMode(widget.id)" class="glyphicon glyphicon-play widget-header-icon"></span>
    <span ng-show="widget.isActive" ng-click="stopRealTimeMode(widget.id)" class="glyphicon glyphicon-pause widget-header-icon"></span>
    </h3>
  </div>

  <!-- widget body -->
  <div class="panel-body">
    <vis-timeline data="widget.timeline" options="options" events="events"></vis-timeline>
  </div>
</div>