<!-- public/views/layout/Sidebar.html -->

<div class="eMooring-sidebar">
  	<!-- Sidebar top -->
	<span class="eMooring-sidebar-box sidebar-top">Default View</span>

	<!-- Sidebar list structure -->
	<ul class="nav nav-sidebar">
		<li class="active"><a href="#"><span class="glyphicon glyphicon-home sidebar-icon"></span>Overview</a></li>
		<li><a href="#"><span class="glyphicon glyphicon-tasks sidebar-icon"></span>Reports</a></li>
		<li><a href="#"><span class="glyphicon glyphicon-scale sidebar-icon"></span>Analytics</a></li>
		<li><a href="#"><span class="glyphicon glyphicon-save sidebar-icon"></span>Export</a></li>
	</ul>

  	<!-- Sidebar bottom -->
	<span class="eMooring-sidebar-box sidebar-bottom">
		<!-- FESB logo -->
		<a href="https://www.fesb.unist.hr" target="_blank">
			<img alt="Brand" src="/eMooring/images/fesb-logo.png" title="FESB">
		</a>
	</span>
</div>