<!-- public/views/layout/Sidebar.html -->

<div class="eMooring-sidebar">
  	<!-- Sidebar top -->
	<span class="eMooring-sidebar-box sidebar-top">Sensors</span>

	<!-- Sidebar list structure -->
	<ul class="nav nav-sidebar" ng-repeat="widget in widgets | orderBy: 'id'">
		<li ng-class="{active : widget.isVisible}" ng-click="toogleWidgets(widget)"><a href="#">
			<span title="Play" ng-hide="widget.isActive" class="glyphicon glyphicon-pause"></span>
			<span title="Play" ng-show="widget.isActive" class="glyphicon glyphicon-play"></span>
			Sensor No. {{widget.id}}
			<span title="Visible" ng-show="widget.isVisible" class="glyphicon glyphicon-ok sidebar-icon"></span>
		</a></li>
	</ul>

  	<!-- Sidebar bottom -->
	<span class="eMooring-sidebar-box sidebar-bottom">
		<!-- FESB logo -->
		<a href="https://www.fesb.unist.hr" target="_blank">
			<img alt="Brand" src="/eMooring/images/fesb-logo.png" title="FESB">
		</a>
	</span>
</div>